.card {
    max-width: 413px;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: 100%;
    display: block;
}

.card__content {
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.card__like-btn {
    background-image: url(../images/heart.svg);
    width: 23px;
    height: 23px;
    border: none;
    background-color: transparent;
    opacity: 40%;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }

}