.cards {
    padding-top: 20px;
}

.cards__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    gap: 40px 20px;
}

/* tablet: 2 columns */
@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: 1fr;  /* full available width */
  }

  .card {
    max-width: 100%;
  }
}
                                                                                              