.cards {
  padding-top: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  gap: 40px 20px;
  justify-content: center;

  /* Desktop: 3 cards at 413px each */
  grid-template-columns: repeat(auto-fit, 413px);
}

/* Tablet: 2 cards at 413px each */
@media screen and (max-width: 1320px) and (min-width: 628px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(413px, 413px));
    justify-content: center;
  }
}

/* Mobile: 1 card per row */
@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }

  .card {
    max-width: 100%;
  }
}                                                            