.card {    
  max-width: 413px;
  position: relative;
}  

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;                                                                                          
  max-width: 353px;
}


.card__image {
  height: 413px;  
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: transform .25s ease;
}

.card__image:hover {
  transform: scale(1.02);
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  background-image: url(../images/State=Default.svg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.card__delete-button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.card__like-btn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .2s ease, transform .2s ease, background-color .2s ease;
}

.card__like-btn_active {
  background-image: url(../images/State=Liked.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
  transform: scale(1.05);
}

.card__like-btn:focus-visible {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;
  }
}
