.footer {
  background-color: transparent; 
  width: 100%;                          
  padding: 60px 0;                      
}

.footer__inner {
  display: flex;
  justify-content: center;              
  align-items: center;
  padding: 0 20px;                      
}

.footer__text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
}

