.footer {
  background-color: #212121B2; 
  width: 100%;                          
  padding: 20px 0;                      
}

.footer__inner {
  display: flex;
  justify-content: center;              
  align-items: center;
  padding: 0 20px;                      
}

.footer__text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #FFFFFF;
  opacity: 0.9;
}

