.header {
  background-color: #Fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.header__logo {
    width: 94px;
    height: 26px;
}
