  /* TODO -  add correct font syles for everything */

.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
  position: relative;    
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  /* TODO - add close icon and make sure it looks right*/
  background-image: url("../images/close-icon-default.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer; /* This tells users "I'm clickable!" */
  opacity: 1;
}

.modal__close-btn:hover {
  background-image: url("../images/close-icon-hover.svg");
  opacity: 0.8;
}

.modal__close-btn:active {
  background-image: url("../images/close-icon-hover.svg");
  opacity: 0.8;
}

.modal__close-btn:focus-visible {
  background-image: url("../images/close-icon-hover.svg");
  outline: 2px solid rgba(33, 33, 33, 0.7); /* Accessible focus ring */
  outline-offset: 2px;
}

.modal__title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1; /* 100% = 1 */
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.8);
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;  
    /* TODO - border, padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 16px;
}

.modal__input::placeholder {
    color: #2121214d;
}

.modal__submit-btn {
    max-width: 156px;
    width: 100%;
    height: 52px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.modal__submit-btn:hover {
  opacity: 0.8;  
}

/* Mobile adjustments */
@media screen and (max-width: 320px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
  font-size: 24px;
  margin-bottom: 24px;
  }

  .modal__submit-btn {
  max-width: 100%;
  height: 48px;
  font-size: 14px;
  }

  .modal__close-btn {
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  }}